<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:replace="~{layout::setFragment(~{this::content})}">
    <th:block th:fragment="content">
        <div class="container-sm">
            <h1>Board List Page</h1>
            <!--th:with로 감싸기-->
            <th:block th:with="bvo=${bdto.bvo}">
                <form action="/board/modify" method="post" id="modForm">
                    <div class="mb-3">
                        <label for="n" class="form-label">bno</label>
                        <input type="text" class="form-control" name="bno" id="n" th:value="${bvo.bno }" placeholder="bno..." readonly="readonly">
                    </div>
                    <div class="mb-3">
                        <label for="t" class="form-label">title</label>
                        <input type="text" class="form-control" name="title" id="t" th:value="${bvo.title }" placeholder="title..." readonly="readonly">
                    </div>
                    <div class="mb-3">
                        <label for="w" class="form-label">writer</label>
                        <input type="text" class="form-control" name="writer" id="w" th:value="${bvo.writer }" placeholder="writer..." readonly="readonly">
                    </div>
                    <div class="mb-3">
                        <label for="c" class="form-label">content</label>
                        <textarea class="form-control" name="content" id="c" aria-label="With textarea" readonly="readonly">[[${bvo.content }]]</textarea>
                    </div>
                    <div class="mb-3">
                        <label for="r" class="form-label">regAt</label>
                        <input type="text" class="form-control" name="regAt" id="r" th:value="${bvo.regAt }" readonly="readonly">
                    </div>
                    <div class="mb-3">
                        <label for="m" class="form-label">modAt</label>
                        <input type="text" class="form-control" name="modAt" id="m" th:value="${bvo.modAt }" readonly="readonly">
                    </div>

                    <!-- 파일 업로드 표시 부분 -->
                    <div class="mb-3">
                        <ul class="list-group list-group-flush">
                            <li th:each="fvo : ${bdto.flist}" class="list-group-item">
                                <div th:if="${fvo.fileType > 0}" class="ms-2 me-auto">
                                    <img th:src="@{|/upload/${fvo.saveDir}/${fvo.uuid}_th_${fvo.fileName}|}">
                                </div>
                                <div th:unless="${fvo.fileType > 0}" class="ms-2 me-auto">
                                    <!-- 파일모양 아이콘 -->
                                </div>
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">[[${fvo.fileName}]]</div>
                                    [[${fvo.regAt}]]
                                </div>
                                <span class="badge bg-dark rounded-pill">[[${fvo.fileSize}]]Bytes</span>
                            </li>
                        </ul>
                    </div>

                    <button type="button" id="listBtn" class="btn btn-outline-primary">List</button>
                    <!--detail page 에서 modify 상태로 변경하기 위한 버튼-->
                    <button type="button" id="modBtn"  class="btn btn-outline-warning">Modify</button>
                    <button type="button" id="delBtn" class="btn btn-outline-danger">Remove</button>
                </form>
                <form action="/board/remove" method="post" id="delForm" style="display:none">
                    <input type="hidden" name="bno" th:value="${bvo.bno}">
                </form>

                <!-- Comment 라인 -->
                <!-- 댓글 등록 라인 -->
                <br>
                <hr>
                <th:block sec:sec:authorize="isAuthenticated()" th:with="auth=${#authentication.getPrincipal()}">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="cmtWriter">[[${auth.mvo.nickName}]]</span>
                        <input type="text" id="cmtText" class="form-control" placeholder="Add Comment..." aria-label="Username" aria-describedby="basic-addon1">
                        <button type="button" id="cmtAddBtn" class="btn btn-secondary">Post</button>
                    </div>

                    <!-- 댓글 출력 라인 -->
                    <ul class="list-group list-group-flush" id="cmtListArea">
                        <li class="list-group-item">
                            <div class="input-group mb-3">
                                <div class="fw-bold">Writer</div>
                                content
                            </div>
                            <span class="badge rounded-pill text-bg-warning">regDate</span>
                        </li>
                    </ul>

                    <!-- 댓글 더보기 버튼 -->
                    <div>
                        <button type="button" id="moreBtn" data-page="1" class="btn btn-dark" style="visibility:hidden"> More + </button>
                    </div>

                    <!-- 모달 -->
                    <div class="modal" id="myModal" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modWriter">Writer</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <input type="text" class="form-control" id="cmtTextMod">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" id="cmtModBtn">modify</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </th:block>
                <!--bno 넘기기-->
                <script th:inline="javascript">
                    const bnoVal = [[${bvo.bno}]];
                    console.log(bnoVal);
                </script>
            </th:block>
        </div>
        <!--스크립트 부-->
        <script th:src="@{/js/boardDetail.js}"></script>
        <script th:src="@{/js/boardComment.js}"></script>
        <script>
            spreadCommentList(bnoVal);
        </script>

    </th:block>
</th:block>